<div class="contents row">
<div class="ally">
<div class="lefty">

  <p class="genretitle"><div class="articleman">Food</div></p>

  <% @searchy.each do |ninja| %>
    <%= render partial: "ninja/ninja", locals: { ninja: ninja } %>
  
   
  <% end %>
  
  </div>
  
  <div class="righty">
  <span class="imagakyoto"><%= link_to "/prefectures/Kyoto" do %><%= image_tag 'kyotoimage.jpg',:width =>'300px' %><% end %></span><p></p>
<span class="imagakyoto"><%= link_to "/prefectures/Osaka" do %><%= image_tag 'Osaka1.jpg',:width =>'300px' %><% end %></span>
  <div class="articleman2"><center>about Haname</center></div>
  <div class="articleman3"><center><%= link_to "about", "/ninjas/", method: :get %></center></div>
  </div>
  </div>