

   <div class="content_post" >
   <div class="important">
  
  <div class="honbun">
    <p><%= link_to "#{ninja.text} ", "/ninjas/#{ninja.id}/content", method: :get %></p>
    <span class="name">
    
      written_by&nbsp;<%= ninja.user.nickname %>
    
  </span></div></div>
   <div class="more">
    <span></span>
    <ul class="more_list">
      
      <% if user_signed_in? && current_user.id == ninja.user_id %>
        <li>
          <%= link_to '編集', "/ninjas/#{ninja.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/ninjas/#{ninja.id}", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="aikon"><span class="cut"><img src="<%=ninja.image %>" class="cut_image"></span></div><p></p>
  <hr style="border-top: 2px dotted #666666;width: 100%;"></div>
