<div class="contents row">

<div class="kijicontent">
<artical class="kiji">
<h2>
 <%= @ninja.text %>
</h2>
  <span class="prefecture"><%= link_to "/prefectures/#{@ninja.prefecture}" do %><%= @ninja.prefecture %>&nbsp;&nbsp;</span>&nbsp;<% end %><span class="genre"><%= link_to "/genres/#{@ninja.genre}" do %><%= @ninja.genre %>&nbsp;&nbsp;</span>
<% end %>
  <p><img src="<%= @ninja.image %>" width="670" height="300"></p>
  <p><%= @ninja.content %></p>
    <p><img src="<%= @ninja.image2 %>" width="670" height="300"></p>
  <p><%= @ninja.content2 %></p>
  <p><img src="<%= @ninja.image3 %>" width="670" height="300"></p>
  <p><%= @ninja.content3 %></p></artical>
  </div>
  </div>